.body{
    background: linear-gradient(hsl(240, 84%, 65%), hsl(192, 46%, 90%));
    height: auto;
}

.judul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: violet;
    color: black;
    font-size: 50px;
    width: 100%;
    font-family: alatsi;
  }